<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InvoiceMgrEntities" connectionString="metadata=res://*/InvoiceMgrModel.csdl|res://*/InvoiceMgrModel.ssdl|res://*/InvoiceMgrModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=InvoiceManager;user id=toma;password=admin12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>